# NetBeans specific #
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
/r10/build

# Class Files #
*.class

# Package Files #
*.jar
*.war
*.ear
*.properties
BattleShipsTournament_4/build/classes/battleshipstournament/Loader.class
*.class