# NetBeans specific #
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Class Files #
*.class

# Package Files #
*.jar
*.war
*.ear
*.properties
BattleShipsTournament_4/build/classes/battleshipstournament/Loader.class
*.class
BattleShipsTournament_4/nbproject/private/private.xml
*.xml